<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        
    </head>
<body>
    <header>
        <h1>Avaliação contínua: Aula 030</h1>
    </header>

    <main>
        <h2>Seu navegador é: {{ user_agent }}</h2><br>
        <h2>IP do computador remoto é: {{ ip_remoto }}</h2><br>
        <h2>O host da aplicação é: {{ host_app }}</h2>
    </main>

    <footer>
        <nav>
            <a href="{{ url_for('index')}}">Voltar</a>
        </nav>
    </footer>
   
</body>
</html>